{
  "check-coverage": true,
  "per-file": true,
  "lines": 99,
  "statements": 99,
  "functions": 99,
  "branches": 99,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "**/*.d.ts"
  ],
  "reporter": [
    "html",
    "lcov"
  ],
  "all": true
}
